In [1]:
#import libraries
import os
import sys
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

/Users/samsonqian/anaconda3/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
Goal4 = pd.read_excel('Goal4.xlsx')

In [3]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,FootNote,Age,Education level,Location,Nature,Quantile,Reporting Type,Sex,Type of skill,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_MATH,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,MALE,SKILL_READ,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,FEMALE,SKILL_READ,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT

## Filter and work on the country of focus

#### These countries can be spelt differently sometimes in the dataset (Example Congo Dem. Rep. can also be spelt out as Congo Democratic Republic)

In [4]:
#Country of focus
countries = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan','Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo','Congo, Democratic Republic', 'Costa Rica', 'Croatia', "Côte d'Ivoire", 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)','Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Vanuatu','Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [5]:
for i,j in enumerate(countries):
    print(i,j)

0 Afghanistan
1 Albania
2 Algeria
3 Angola
4 Antigua and Barbuda
5 Argentina
6 Armenia
7 Azerbaijan
8 Bangladesh
9 Belarus
10 Belize
11 Benin
12 Bhutan
13 Bolivia
14 Bosnia and Herzegovina
15 Botswana
16 Brazil
17 Bulgaria
18 Burkina Faso
19 Burundi
20 Cabo Verde
21 Cambodia
22 Cameroon
23 Central African Republic
24 Chad
25 Chile
26 China
27 Colombia
28 Comoros
29 Congo
30 Congo, Democratic Republic
31 Costa Rica
32 Croatia
33 Côte d'Ivoire
34 Djibouti
35 Dominica
36 Dominican Republic
37 Ecuador
38 Egypt
39 El Salvador
40 Equatorial Guinea
41 Eritrea
42 Eswatini
43 Ethiopia
44 Fiji
45 Gabon
46 Gambia
47 Georgia
48 Ghana
49 Grenada
50 Guatemala
51 Guinea
52 Guinea-Bissau
53 Guyana
54 Haiti
55 Honduras
56 India
57 Indonesia
58 Iran (Islamic Republic of)
59 Iraq
60 Jamaica
61 Jordan
62 Kazakhstan
63 Kenya
64 Kiribati
65 Kosovo
66 Kyrgyzstan
67 Lao People's Democratic Republic
68 Lebanon
69 Lesotho
70 Liberia
71 Libya
72 Madagascar
73 Malawi
74 Malaysia
75 Maldives
76 Mali
77 Marshall Islands
78 Mauritania
79 Mauritius
80 Mexico
81 Micronesia (Federated States of)
82 Moldova
83 Mongolia
84 Montenegro
85 Morocco
86 Mozambique
87 Myanmar
88 Namibia
89 Nauru
90 Nepal
91 Nicaragua
92 Niger
93 Nigeria
94 North Macedonia
95 Pakistan
96 Palau
97 Panama
98 Papua New Guinea
99 Paraguay
100 Peru
101 Philippines
102 Poland
103 Romania
104 Russian Federation
105 Rwanda
106 Saint Kitts and Nevis
107 Saint Lucia
108 Saint Vincent and the Grenadines
109 Samoa
110 Sao Tome and Principe
111 Senegal
112 Serbia
113 Seychelles
114 Sierra Leone
115 Solomon Islands
116 Somalia
117 South Africa
118 South Sudan
119 Sri Lanka
120 Sudan
121 Suriname
122 Syrian Arab Republic
123 Tajikistan
124 Thailand
125 Timor-Leste
126 Togo
127 Tonga
128 Trinidad and Tobago
129 Tunisia
130 Turkey
131 Turkmenistan
132 Tuvalu
133 Uganda
134 Ukraine
135 United Republic of Tanzania
136 Uruguay
137 Uzbekistan
138 Vanuatu
139 Venezuela
140 Vietnam
141 Yemen
142 Zambia
143 Zimbabwe

## Missing Values

In [6]:
pd.isnull(Goal4).sum()

Goal                      0
Target                    0
Indicator                 0
SeriesCode                0
SeriesDescription         0
GeoAreaCode               0
GeoAreaName               0
TimePeriod                0
Value                 12192
Time_Detail               0
TimeCoverage         191762
UpperBound           191762
LowerBound           191762
BasePeriod           189486
Source                    0
GeoInfoUrl           191762
FootNote             176950
Age                  191281
Education level       17879
Location              78911
Nature                    0
Quantile              55387
Reporting Type            0
Sex                   48829
Type of skill        175898
Units                     0
dtype: int64

In [7]:
Goal4.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill',
       'Units'],
      dtype='object')

In [8]:
np.unique(Goal4["Target"])

array(['4.1', '4.2', '4.3', '4.4', '4.5', '4.6', '4.a', '4.b', '4.c'],
      dtype=object)